/*  
--------------------------------------------
Template css file for all branding elements.
--------------------------------------------
*/

#main-logo {
    /* Ensures the image scales down to fit the container without distortion */
    object-fit: contain; 
    
    /* Specifies how the image should be positioned within the box; center is usually best */
    object-position: center; 

    /* Ensures the element doesn't exceed the size of its parent container */
    max-width: 100%;
    max-height: 100%;
}

#dot-icon {
    /* Add brand-specific styles here */
}

#subtitle {
    /* Add brand-specific styles here */
}

#session-title {
    /* Add brand-specific styles here */
}

#description-p1 {
    /* Add brand-specific styles here */
}

#description-p2 {
    /* Add brand-specific styles here */
}

#meeting-type {
    /* Add brand-specific styles here */
}

#powered-by-service {
    /* Add brand-specific styles here */
}

#powered-by-service-link {
    /* Add brand-specific styles here */
}

#main-title {
    /* Add brand-specific styles here */
}
