/* Reset some default margins and padding for cleaner look */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#message {
    background-color: #ffdd57;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#videoEngager {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button#stopSession {
    background-color: #dc3545;
}

button#stopSession:hover {
    background-color: #c82333;
}

input[type="radio"] {
    margin-right: 8px;
}

label {
    margin-right: 10px;
}

#iframeHolder 
{
    width: 300px;
    height: 200px;
    resize: both;
    overflow: auto;
    border: 1px solid black;
    position: absolute; /* Important for dragging */
    top: 50px;
    left: 50px;
}

#limitations {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 140px;
    font-size: 12px;
}

#limitations h2 {
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

#limitations ul {
    list-style-type: disc;
    padding-left: 20px;
}

#limitations li {
    margin-bottom: 10px;
}

/* Styling for disabled buttons */
button:disabled {
    background-color: #c0c0c0; /* Gray color */
    cursor: not-allowed; /* Indicate it's not clickable */
    color: #888; /* Darker gray for text */
}

button:disabled:hover {
    background-color: #c0c0c0; /* Ensure hover doesn't change the color */
}
iframe {
    width: 100%;
    height: calc(100% - 20px); /* Adjust height to account for the move handle */
    display: block;
}

#move-handle {
    width: 100%;
    height: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    cursor: move; /* Visual cue for dragging */
    line-height: 20px; /* Center the text vertically */
}

#resize-handle {
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}