.ve-floating-button {
    width: 2.812rem;
    height: 2.812rem;
    background-color: #3659f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 55px;
    right: 55px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1000;
}
.ve-floating-button::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('https://videoengager.github.io/examples/sales2/camera.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    animation: spin 2s linear infinite;
}
